<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1079276447565-s4023lr0hv3tbg3tsdbcks4ndsj4u3nn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079276447565-s4023lr0hv3tbg3tsdbcks4ndsj4u3nn</string>
	<key>API_KEY</key>
	<string>AIzaSyCEclNh30fBFNGgFHAQHvZO7RzEwHz17xk</string>
	<key>GCM_SENDER_ID</key>
	<string>1079276447565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPasswordManager</string>
	<key>PROJECT_ID</key>
	<string>flutterpasswordmanager-a44f7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterpasswordmanager-a44f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079276447565:ios:22fc0f6ffff854eff53904</string>
</dict>
</plist>